{% extends "index.html" %}
{% block title %}
<title>Shopkaro  | Forgot Password</title>
{% endblock %}

{% block body %}
             <div class="wrapper1 wrapper2 mt-10 mb-10 container  ">
                 <!-- <span class="icon-close1"><ion-icon name="close"></ion-icon>  </span> -->
                 <div class="form_box  m-auto login1 mt-5 mb-5 ">
                     <h2 class="text-center mb-3 "  > Reset      <span class="text-danger "> Password</span></h2>
                     <form action="/forgetPassword1/" method="post">
                        {% csrf_token %}
                        {% for m in messages %}
                              <div class="alert alert-danger py-3 alert-dismissible fade show text-center"  role="alert">
                               <strong>{{m}}</strong> 
                               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                               </button>
                             </div>
                        {% endfor %}
                         <div class="row">
                               <div class="input-box1 col-md-12">
                                   <label>User_Name</label>
                                   <span class="icon"><ion-icon name="person"></ion-icon></span>
                                   <input type="text" name="username" id="log" class="form-control" placeholder="Enter username to reset password" required>
                               </div>
                               
                         </div>
                         
                         <button type="submit" class="bton">Send Otp</button>
                         
                     </form>
             
                 </div>
              </div>

  {% endblock %}        
     
                 