{% extends "index.html" %}
{% block title %}
<title>Shopkaro | Forgot Password3</title>
{% endblock %}

{% block body %}
<div class="wrapper1 wrapper2 mt-10 mb-10 container  ">
  <!-- <span class="icon-close1"><ion-icon name="close"></ion-icon>  </span> -->
  <div class="form_box  m-auto login1 mt-5 mb-5 ">
    <h2 class="text-center mb-3 "> Reset <span class="text-danger "> Password</span></h2>
    <form action="/forgetPassword3/" method="post">
      {% csrf_token %}
      {% for m in messages %}
      <div class="alert alert-danger py-3 alert-dismissible fade show text-center" role="alert">
        <strong>{{m}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      <div class="row">
        <div class="input-box1 col-md-12">
          <label>Password:</label>
          <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
          <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <div class="input-box1 col-md-12">
          <label>Confirm Password:</label>
          <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
          <input type="password" name="cpassword" id="cpassword" class="form-control" required>
        </div>
      </div>

      <button type="submit" class="bton">Submit</button>

    </form>

  </div>
</div>

{% endblock %}