{% extends "index.html" %}
{% block title %}
<title>Shopkaro  | Products</title>
{% endblock %}
{% block body%}
<div class="wrapper1 container pr-5 pl-5 mb-10 mt-10 pt-3 mt-3  ">
    <div class="form_box register1 m-auto ">
        <!-- style="background: #ef8c8c;" -->
        <h2 class="text-center mt-3 p-3 "><span class="text-danger">Fill</span> Your Detail </h2>
        <form action="/registerpage/" method="post" >
           {% csrf_token %}
           {% for m in messages %}
           <div class="alert alert-warning alert-dismissible fade show text-center"  role="alert">
            <strong>{{m}}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           {% endfor %}
            <div class="row">
                <div class="input-box1 col-md-6 ">
                    <label class="mr-2">Full Name</label>
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" name="Fname" id="log1" class="form-control" class="form-control" required>
                </div>
                <div class="input-box1 col-md-6">
                    <label class="mr-2">Username</label>
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" name="user_name" class="form-control" required>
                </div>
            </div>
            <div class="row">
                
                <div class="input-box1 col-md-6">
                    <label class="mr-2">Email</label>
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email"  name="usermail" class="form-control" required>
                </div>
                <div class="input-box1 col-md-6">
                    <label class="mr-2">Phone</label>
                    <span class="icon"><ion-icon name="call"></ion-icon></span>
                    <input type="tel" name="phone" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="input-box1 col-md-12">
                    <label class="mr-2">Password</label>
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" name="pass1" id="pass1" class="form-control" required>
                </div>
                <div class="input-box1  col-md-12">
                    <label class="mr-2">Confirm Password</label>
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" name="pass2" id="pass2" class="form-control" required>
                </div>
            </div>
            <div class="remember-forgot1">
                <label class=" d-flex  mb-3"> <input type="checkbox" required class=""> I agree to the term and conditions</label> 
            </div>
            <button type="submit" class="bton">Register</button>
            <div class="login-register1">
                <p class="text-center">Already  have an account <a href="/loginpage/" class="login_link1    ">Login here</a> </p>
            </div>
        </form>
    
    </div>
   
</div>
{% endblock %}